<!DOCTYPE html>
<html>
<head>
    <title>Fakoot</title>
    {{> head}}
    <link rel="stylesheet" type="text/css" href="styles/index.css">
    <link rel="stylesheet" type="text/css" href="styles/signUp.css">
    <link rel="stylesheet" type="text/css" href="styles/general.css">
</head>
<body>
    {{> menu}}
    <div id="content">
    hello       
    </div>
    <script src="javascripts/review.js"></script>
</body>
</html>